html, body, .container {
    height: 80%;
    /*position: fixed;
    left: 3%;*/
}

img {
	width:100px; /* you can use % */
    height: 100px;
}

a {
	text-decoration: none;
	font-family: "Courier New";
	color: black;
}

p {
	font-family: "Courier New";
}

.symbols {
	width: 40px;
	height: 40px;
}

a:hover {
	color: #cc6600;
	cursor: pointer;
}

.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#banner {
	border-bottom: 2px #CC0000 solid;
}

#welcome {
	font-size: 20px;
	text-align: center;
	font-family: "Courier New";
	font-weight: bold;
}

#bio {
	display: none;
	position: absolute;
    width: 95%;
    height: 425px;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 10px;
}

#resume {
	display: none;
	z-index: -1;
	position: absolute;
    width: 95%;
    height: 800px;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 10px;
}

#gym {
	display: none;
	position: absolute;
    width: 95%;
    height: 1160px;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 10px;
}

#gym h3 {
    font-family: "Arial Verdana";
}

#journalism {
	display: none;
	position: absolute;
    width: 95%;
    height: 575px;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 10px;
}

#music {
	display: none;
	position: absolute;
    width: 95%;
    height: 575px;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 10px;
}

#bio p {
	width: 50%;
}

#resume table {
	padding-left: 4%;
}
